{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{%static 'css/style.css'%}">

<!DOCTYPE html>
<html lang="pl">
	<head>
		<title>About page</title>
		<meta charset="UTF-8">
	<body>
		<h1>About page</h1>
    <div class="main">
    <h2>Maecenas ac consectetur mauris, ac blandit risus.</h2>
		<p> Nullam id velit quis velit iaculis maximus. Pellentesque nibh magna, faucibus quis mi eget, maximus posuere tortor. Nulla suscipit tempus tempor. Vestibulum ac venenatis massa. Sed eget finibus ipsum. Duis odio libero, vehicula eu tortor et, condimentum lobortis ex. Nulla malesuada ex at molestie scelerisque. Nulla sodales neque massa, eu varius ipsum ornare sed. <br>Proin et felis et elit vehicula lobortis. Maecenas iaculis varius enim. Vestibulum sed mauris lectus. Nullam vehicula odio vel diam convallis sollicitudin. Duis feugiat diam eros, euismod sodales quam tempus eget.</p>
    </div>
    <div class="main">
      <h2> Lorem ipsum dolor sit amet </h2>
			<p> Curabitur scelerisque velit et facilisis efficitur. Maecenas vitae lobortis ante. Donec id eros in neque ultricies ornare a eu ante. Curabitur neque neque, laoreet ac libero in, tincidunt porta arcu. Sed aliquet tempus lectus, at luctus tortor venenatis suscipit. Curabitur scelerisque mi vel pharetra ultricies. Quisque in tristique leo, et tincidunt massa. Etiam varius mauris eget magna sagittis rutrum. Nullam eget metus efficitur libero consequat hendrerit vitae non dolor. Sed molestie velit sit amet libero feugiat ullamcorper. <em>Duis gravida, velit rhoncus condimentum semper, ex dolor condimentum lacus, sit amet tristique nisi quam lobortis quam.</em> Donec sed gravida elit. Aliquam a lacinia mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
      </div>
  </body>
</html>

{% endblock content %}
