{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{%static 'css/style.css'%}">

<!DOCTYPE html>
<html lang="pl">
	<head>
		<title>Homepage</title>
		<meta charset="UTF-8">

	<body>
		<h1>
			Homepage
		</h1>
		<div class="main">
			<h2><center> Lorem ipsum dolor sit amet</center></h2>
      <p>Donec sapien urna, dapibus ac lacus dictum, elementum consectetur arcu. Proin rutrum nulla enim, congue hendrerit nibh placerat condimentum. Morbi nisi risus, suscipit ut ornare vel, tempus quis purus. Fusce mollis turpis nisi, consequat euismod sem vestibulum a. Maecenas efficitur rutrum nulla, non auctor justo dictum id. Sed vehicula eleifend eros a fermentum. Fusce nunc orci, sagittis nec convallis ultrices, aliquet eget lectus. Nam fringilla posuere nisi at egestas. Maecenas sollicitudin, sem sit amet consectetur volutpat, urna leo vehicula velit, sit amet lacinia leo massa vel orci. Ut molestie massa lacinia laoreet vestibulum. Fusce mattis ornare urna nec lacinia. Maecenas iaculis id risus ac vehicula. Ut tincidunt ante elit, in ultrices nisl auctor et.</p>
		</div>
		<div class="main">
			<h2><center> Cras dapibus sit amet mauris quis tempus</center> </h2>
            <p id="cytat"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.</p>
							<p>Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit
						amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.</p>
		</div>
	</body>
</html>


{% endblock content %}
